/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* Altere para Rosa */
:root {
  --ifm-color-primary: #FF69B4; /* Cor rosa */
  --ifm-color-primary-dark: #FF1493;  /* Tom mais escuro de rosa */
  --ifm-color-primary-darker: #FF007F;  /* Tom ainda mais escuro */
  --ifm-color-primary-light: #FFB6C1;  /* Tom mais claro */
  --ifm-color-primary-lighter: #FFCCE5;  /* Tom muito claro */
  --ifm-color-primary-lightest: #FADCD9;  /* Tom super claro */

  /* Cor de fundo das linhas de código destacadas */
  --docusaurus-highlighted-code-line-bg: rgba(255, 105, 180, 0.2);  /* Rosa claro, com transparência */
}

/* Para o modo escuro */
[data-theme='dark'] {
  --ifm-color-primary: #FF69B4;  /* Cor rosa também para o modo escuro */
  --ifm-color-primary-dark: #FF1493;
  --ifm-color-primary-darker: #FF007F;
  --ifm-color-primary-light: #FFB6C1;
  --ifm-color-primary-lighter: #FFCCE5;
  --ifm-color-primary-lightest: #FADCD9;

  /* Cor de fundo das linhas de código destacadas para modo escuro */
  --docusaurus-highlighted-code-line-bg: rgba(255, 105, 180, 0.3);  /* Rosa mais intenso para modo escuro */
}

